<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- @@@可修改@@@ 项目名称 -->
    <display-name>webframe</display-name>    
    
    <!-- 日志配置 -->
    <context-param>   
        <param-name>log4jConfigLocation</param-name>   
        <param-value>/WEB-INF/conf/log4j.xml</param-value>  
    </context-param>
    <listener>   
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
    </listener>

    <!-- 默认Servlet 配置 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/data/*</url-pattern>
        <url-pattern>/theme/*</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <!-- WEB Configure -->
    <context-param>
        <param-name>webApplicationClass</param-name>
        <!-- @@可修改 -->
        <param-value>org.webframe.context.Context</param-value>
    </context-param>
    <listener>
        <listener-class>name.rex.web.ContextListener</listener-class>
    </listener>

    <!-- Servlet 配置 -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>/WEB-INF/spring-servlet.xml</param-value>  
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <!-- filter 配置-->
    <filter>    
        <filter-name>CharacterEncodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>  
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>  
    <filter-mapping>  
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>  
  
    <filter>
        <filter-name>requestFilter</filter-name>
        <filter-class>name.rex.web.RequestFilter</filter-class>      
    </filter>
    <filter-mapping>
        <filter-name>requestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <!-- @@@可修改@@@ 项目名称 -->
        <param-value>webframe</param-value>
    </context-param>
  
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
