<test>
    <testElem1>#%testElem1%#</testElem1>
    <testElem2>#%testElem2%#</testElem2>
    <testElem3>#%testElem3%#</testElem3>
    <testElem4>#%testElem4%#</testElem4>
    <testElem5>#%testElem5%#</testElem5>
    <testElem6>#%testElem6%#</testElem6>
</test>
